<!-- <form [formGroup]="form">
  <ngx-autocomplete formControlName="keyword"
                    [control]="form.controls.keyword"
                    apiString="http://localhost:3000/api/ascent/queryascents"
                    paramName="keyword"
                    payloadPropName="payload"
                    suggestionPropName="name"></ngx-autocomplete>
</form> -->

<form [formGroup]="form">
  <ngx-autocomplete formControlName="keyword"
                    [control]="form.controls.keyword"
                    [staticDataSource]="weekdays"
                    suggestionPropName="name"
                    (selected)="onSelected($event)"></ngx-autocomplete>
</form>

